body {
  margin: 0px;
}
ul,
li,
a {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  color: none;
}
img {
  display: block;
  max-width: 100%;
}
.wrapper {
  overflow: hidden;
}
.slide {
  display: flex;
}
.slide:hover {
  will-change: transform;
}
.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;

  box-shadow: 0px 0px 15px;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0.7;
  transform: scale(0.8);
  transition: 0.4s;
}
.slide li.active {
  opacity: 1;
  transform: scale(1);
}
.attow-nav {
  display: flex;
  justify-content: center;
}
[data-control] {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
[data-control] li {
  margin: 8px 10px;
  background-color: #fb5;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  text-indent: 15px;
}
[data-control] li a {
  display: block;
}
[data-control] li:hover,
[data-control] li.active {
  background-color: #e54;
}
